<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row justify-content-center">
    
    <div class="col-lg-8 my-5">
      <h1 class="display-4 text-center">olá <%= session.email%></h1>
      <p class="text-center lead">voce precisa sair para fazer outra conta.</p>

      <%- include('./includes/messages')%>

    
    </div>

  </div>
</div>

<%- include('includes/footer') %>
  